<a href="https://colab.research.google.com/github/HarishRaagavendar/Python100/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a="Chicken Pizza"
b='300'
total=len(a)+len(b)
dots='.'*(25-total)
print(a+dots+b)

Chicken Pizza.........300

In [ ]:
num='4454 9098 5329 1143'

last=num[15::]
passw=('*'*4+' ')*3+last
passw

'**** **** **** 1143'

In [ ]:
email='harish@gmail.com'
at=email.find('@')
print('Username : ',email[:at])
print('domain : ',email[at+1:-4])
print('com :',email[-3:])

Username :  harish
domain :  gmail
com : com

In [ ]:
str1='dear'
str2='raed'

if len(str1)!=len(str2):
  print("Not")
else:
  for x in str1:
    if x not in str2:
      print("not")
      break
  else:
    print("anagram")

In [ ]:
import re
match_object = re.match(r'(\w+)@(\w+)\.(\w+)', 'username@geekforgeeks.org')
print(match_object.group(1, 2, 3))
print(match_object.group())

('username', 'geekforgeeks', 'org')
username@geekforgeeks.org

In [ ]:
import re
str='This is raining'

In [ ]:
s=re.match('\S',str)
print(s)

<re.Match object; span=(0, 1), match='T'>

In [ ]:
list1=[1,2,3,4]
for i in range(len(list1),-1,-1):
  print(i)

4
3
2
1
0

In [ ]:
list1.pop()

4

In [ ]:
del list1[0]
print(list1)

[3]

In [ ]:
a=[x for x in range(1,10)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l=[x.lower() for x in 'Python']
l

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
l=[x**2 for x in range(0,5) if x%2==0]
l

[0, 4, 16]

In [ ]:
day=[int(x) for x in input("Enter the working hours ").split()]
wages=70
total=sum(day)
sal=total*wages
sal

Enter the working hours 10 10 10 10 10

3500

In [ ]:
x=[3,5,7,2]
s=''
for i in x:
  s+=str(i)
print(int(s))

3572

In [ ]:
l2=['A','B','C','D','A','B','C','D','E','B']
res=[]
for i in l2:
  if i not in res:
    res.append(i)
    cnt=l2.count(i)
    res.append(cnt)
print(res)

['A', 2, 'B', 3, 'C', 2, 'D', 2, 'E', 1]

In [ ]:
a=[[1,2,3],[3,2,1],[1,3,5]]
b=[[3,2,1],[1,2,3],[3,2,1]]
l=[]
for i in range(3):
  s=[]
  for j in range(3):
    r=a[j][i]
    s.append(r)
  l.append(s)

l

[[1, 3, 1], [2, 2, 3], [3, 1, 5]]

In [ ]:
a=1,'raj',2,3,4
type(a)

tuple

In [ ]:
t=(*(x for x in range(10)),)
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
Dict={}
for i in range(1,6):
  Dict[i]=i*2

Dict

In [ ]:
dict1={x for x in range(1,6)}
dict1

{1, 2, 3, 4, 5}

In [ ]:
birthdays={
    'Harish':'03/09/2002',
    'Raj':'09/10/2005',
    'Akash':'10/01/2001',
    'Barath':'25/11/2015'
}

In [ ]:
name=input('Enter the name ')
if name in birthdays:
  print('The {} birth is {}'.format(name,birthdays[name]))
else:
  print('NAme is not found')

Enter the name Harish
The Harish birth is 03/09/2002

In [ ]:
birthdays.keys()

dict_keys(['Harish', 'Raj', 'Akash', 'Barath'])

In [2]:
countries={}
for i in range(4):
  name=input("Enter the name: ")
  if name[0].upper() not in countries:
    countries[name[0].upper()]=[name]
  else:
    countries[name[0].upper()].append(name)

Enter the name: India
Enter the name: Australia
Enter the name: argentina
Enter the name: cambodia

NameError: ignored

In [3]:

countries

{'I': ['India'], 'A': ['Australia', 'argentina'], 'C': ['cambodia']}